<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<title>Bug</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"><!--???-->
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
		<!--<link rel="stylesheet" href="/static/css/register.css">-->
	</head>
	<body>
        <div class="container">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">
                    <img alt="Brand" src="/static/image/player/zjh.jpg" id="profile" width="28" height="25">
                  </a>
                  <div class="btn-group btn-group-sm pull-right">
                      <button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#portal">传送门</button>
                      <button type="button" class="btn btn-success navbar-btn">查看bug</button>
                      <button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#report">报告bug</button>
                      <button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#idea">提交创意</button>
                      <button type="button" class="btn btn-danger navbar-btn">退出</button>
                  </div>
                </div>
              </div>
            </nav>
            <!-- Modal portal-->
            <div class="modal fade" id="portal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">传送门</h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal report-->
            <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal idea-->
            <div class="modal fade" id="idea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row  col-md-offset-2 col-md-8 jumbotron">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">客户端</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">服务器端</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">客户端</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">服务器端</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">服务器端</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">客户端</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
            </div>
        </div>
	</body>
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</html>