<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<title>剪约项目测试</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"><!--???-->
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
		<!--<link rel="stylesheet" href="/static/css/register.css">-->
	</head>
	<body>
		<button type="button" class="btn btn-success" id="qappt">快速预约</button>
		<button type="button" class="btn btn-success" id="nappt">普通预约</button>
		<button type="button" class="btn btn-success" id="isreg">是否注册</button>
		<button type="button" class="btn btn-success" id="subord">订单提交</button>
		<button type="button" class="btn btn-success" id="accord">接受订单</button>
		<p id="text"></p>
	</body>
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/static/js/jianyue.js"></script>
</html>